html, body {
    height: 100%;
    margin: 0;
    background-image: url('../image/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Para que el fondo se quede fijo */
    display: flex;
    flex-direction: column;
}
.texto-rosa {
    color: #ff00cc !important; /* Rosa fosforito */
    text-shadow: 0 0 5px #ff99dd; /* Brillito suave opcional */
}
/* Botón rosa fosforito */
.btn-rosa {
    background-color: #ff1493; /* rosa fuerte / fosforito */
    color: white;
    border: none;
}


.btn-rosa:hover {
    background-color: #ff69b4; /* rosa un poquito más claro al pasar el mouse */
    color: white;
}

/* Fondo rosa claro para la tarjeta */
.fondo-rosita {
    background-color: #ffe6f0 !important; /* rosita pastel */
    border-radius: 1rem;
    padding: 1rem;
}
